.tabb{
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-top: -23px;
}

.proftabs{
    display: flex;
    width: 300px;
    height: 107px;
    width: 358px;
    margin: 10px;
    height: 90px;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 20px;
}

.profimg{
    width:80px;
    height: 80px;
    border-radius: 50%;
    padding-right:20px ;

}

.duedate{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 10px 10px 0px;
}

.emp{
    display: flex;
    width: 100%;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 10px 10px 0px;
}

.post{
    display: flex;
    margin: 10px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 10px 10px 0px;
}

.revbutton{
    display: flex;
    height: 40px;
    width: 100px;
    margin-top: 65px;
    margin-left: 21px;
    background-color: transparent;
    border-color: transparent;
    color: rgba(235, 16, 8, 0.979);
}

button{
    border:none;
    background-color: transparent;
    // background-color: brown;
    border-color: transparent;
    color: rgb(4, 49, 49);
}
