.emphomeContainer{
  height: 1500px;
}

.empperformanceContainer {
      margin:50px 20px 0px 25px;
      flex: 6;
      width: 1210px;
    }

    .perftitle{
      padding-bottom: 15px;
      width: 250px;
      height: 29px;
      color: #171717;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      // display: flex;
      // align-items: center;

      
    }

    
    .perfbox{
      padding-bottom: 15px;
      // width: 250px;
      // height: 29px;
      // color: #171717;
      // font-family: 'Satoshi';
      // font-style: normal;
      // font-weight: 700;
      // font-size: 16px;
      // line-height: 25px;
      // display: flex;
      // align-items: center;

      
    }
