    .performanceContainer {
      margin:50px 20px 0px 25px;
      flex: 6;
    }

    .perftitle{
      padding-bottom: 10px;
      width: 169px;
      height: 29px;
      color: #171717;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      // display: flex;
      // align-items: center;

      
    }
