.emphome {
  display: flex;
  margin-top: 80px;
  padding-top:10px;
  width: 100%;
  margin-left: 250px;}

  .empsettingsContainer {
    flex: 6;
    height: 1400px;
    background-color: #F5F5F5 ;
  }


// .addgoalbtn{ 
//   cursor: pointer;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   border-color: transparent;
//   padding: 12px 24px;
//   gap: 10px;
  
//   width: 140px;
//   height: 43px;
//   color: #E7E8FF;
//   background: #030BC3;
//   border-radius: 8px;
//   cursor: pointer;
// }
// .addgoalbtn:hover{
//   color: rgb(237, 238, 243);
//   background: #00010e;
// }
